body {
    text-align: center;
    
    
}

.jumbotron {
    color: white;
    
    background-color: #6284FF;
    background-image: linear-gradient(359deg, #6284FF 9%, #FF0000 88%);
}

.scores {
    font-size: 2em;
}

h1 {
    font-size: 6em;
    font-family: 'Ranchers', cursive;
}

h2 {
    font-size: 3em;
    font-family: 'Just Another Hand', cursive;
}